@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@400;700&family=Roboto:wght@700&display=swap');

/* Desktop version starts here */

#close-button {
  color: #fff;
  float: right;
  font-size: 20px;
  cursor: pointer;
  width: 40px !important;
  margin-bottom: 50px;
  margin-top: -60px;
}

#menu_top {
  list-style: none;
  padding: 0;
  position: fixed;
  margin-top: 0;
  right: 0;
  width: 100% !important;
  z-index: 2;
  background-color: #3c3a35;
  flex-direction: column;
  padding-top: 10vh;
  height: 100vh;
  position: absolute;
  margin-left: -310px;
}

#menu_top a {
  text-decoration: none;
  font-weight: 700;
  color: #fff5e1;
  gap: 2em;
  margin-left: 10vw;
  line-height: 44px;
  font-size: 32px;
  width: 375px;
  padding-left: 10px;
  padding-right: 60%;
  border-bottom: 1px solid #6f6c6b;
}

.header-fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: #3c3a39;
  box-shadow: 0px 2px 5px rgba(253, 253, 255, 0);
}

@media only screen and (min-width: 768px) {

  * {
    max-width: 100%;
    margin: 0;
    padding: 0;
  } 

  body {
    min-width: none;
    overflow-x: hidden;
  }

  html {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .header {
    width: 100%;
    height: 10vh;
    align-items: center;
    background-color: #3c3a39;
    justify-content: space-between;
    padding-top: 15px;
  }

  .logo {
    width: 10%;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 20px;
    margin-left: 52px;
    font-style: bold;
    text-align: center;
    align-items: center;
    color: #fff;
    text-decoration: none;
  }

  #menu_top {
    display: none;
  }

  svg {
    display: none;
  }

  .navigation {
    display: flex;
    margin-right: 85px;
    margin-top: -26px;
    margin-bottom: 24px;
    list-style-type: none;
    float: right;
    overflow: hidden;
  }

  .navigation li.active a {
    text-decoration: underline;
    color: white;
  }

  .navigation a.active {
    color: #fff;
    font-weight: bold;
  }

  .navigation > li {
    float: left;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    line-height: 20px;
    color: #fff;
  }

  .navigation > li > a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.3rem;
  }

  .close-button{
    display: none;
  }

  .fas {
    width: 12px;
    height: 4px;
    margin-top: 17px;
    margin-left: 4px;
    color: #fff;
    border: 2px solid #67798e;
    margin-right: 27px;
    font-size: 1.2rem;
  }
  
  .top {
    width: 100%;
    height: fit-content;
  }

  .top-section {
    width: 100%;
    height: 80vh;
    background-color: #1c1a19;
    background-image: url(./images/main.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: 30%;
  }

  #work1-btn {
    width: 369px;
    height: 58px;
    margin-top: 379px;
    background-color: #ff6b00;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    text-align: center;
    padding: 10px 20px;
    font-size: 24px;
    outline: none;
    border: none;
  }

  .title {
    width: 100%;
    padding-top: 50px;
    margin-left: 120px;
    font-family: 'Crete Round', sans-serif;
    font-size: 72px;
    font-weight: 400;
    line-height: 81.5px;
    color: #f55800;
    flex: none;

  }

  h3 {
    width: 60vw;
    margin-top: 20px;
    margin-left: 120px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
    display: flex;
    align-items: center;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .title-paragraph {
    width: 40vw;
    margin-left: 120px;
    margin-top: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #f4f5f7;
    flex: none;
    order: 2;
    flex-grow: 0;
  }

  .social {
    height: 98px;
    margin-left: 36px;
    margin-top: -240px;
    list-style-type: none;
  }

  .social li{
    padding-top: 15px;
  }

  .work-service {
    width: 100%;
    gap: 24px;
    display: flex;
    align-items: center;
    padding: 0;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-left: 100px;
    margin-top: 150px;
  }

  .services-tag {
    width: 30%;
    height: 52px;
    font-family: 'Crete Round', sans-serif;
    font-weight: 400;
    font-size: 3rem;
    line-height: 52px;
    color: #091e42;
    margin-top: -67px;
  }

  .horizontal {
    width: 60%;
    margin-left: -10px;
    color: #212121;
    border: 1px solid #212121;
    margin-top: -67px;
  }

  .tags {
    width: 95vw;
    padding: 0;
    margin-left: 84px;
  }
  
  .tag-image {
    width: 40%;
    float: left;
  }

  .service-header {
    width: 50%;
    height: 36px;
    font-family: 'Crete Round', sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
    margin-left: 45%;
  }

  .services-paragraph {
    width: 40%;
    height: 140px;
    margin-top: 60px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #091e42;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-left: 45%;
  }

  .service-button {
    list-style-type: none;
    margin-top: 12px;
    margin-left: 45%;
    text-decoration: none;
    display: flex;
  }

  .service-button li {
    margin-left: 10px;
    width:fit-content
  }

  .service-button li  a {
    background-color: #fff;
    border: 1px solid #8993a4;
    text-decoration: none;
    padding: 10px;
    color: #091e42;
    align-items: center;    
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1em;
    line-height: 20px;
  }

  .See-project-btn {
    width: 15%;
    height: 48px;
    margin-top: 30px;
    background-color: #ff6b00;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    text-align: center;
    padding: 0 1px;
    margin-left: 5.5%;
    font-size: 1.5rem;
    line-height: 3px;
    outline: none;
    border: none;
  }

  .pin {
    width: 90%;
    height: inherit;
    margin-top: 10%;
    margin-left: 5%;
    justify-content: space-between;
    /* padding-left: 5% */
  }

  .printing {
    background-image: url(./images/work1.png);
    background-position: 100%;
    background-repeat: no-repeat;
    width: 369px;
    margin-top: 16px;
    height: 435px;
    float: left;
    top: 8px;
    justify-content: end;
    margin-left: 24px;
    background-color: linear-gradient rgba(38, 38, 38, 0) 0.34% #262626 61.21%;
  }

  .print-header {
    width: 295px;
    height: 81px;
    top: 8px;
    margin-top: 129px;
    margin-left: 28px;
    font-family: 'Crete Round', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
  }

  .print-paragraph {
    width: 295px;
    height: 87px;
    top: 101px;
    margin-top: 28px;
    margin-left: 27px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    vertical-align: top;
  }

  .print-button {
    list-style-type: none;
    margin-top: 12px;
    margin-left: 24px;
    text-decoration: none;
    display: flex;
  }

  .print-button > li {
    margin-left: 5px;
    width:fit-content;
    margin-top: 25px;
  }

  .print-button > li > a {
    padding: 5px;
    text-decoration: none;
    background-color: rgb(255, 255, 255, 0.24);
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    align-items: center;
    font-size: 1.3em;
    color: #fff;
    line-height: 20px;
  }

  .printing > .timely {
    display: none;
  }

  #work1-section {
    background-image: url(./images/lay.png);
    background-position: 100%;
    background-repeat: no-repeat;
  }

  #work1-list,
  #work1-paragraph,
  #work1 {
    display: none;
  }

  #work2,
  #number5 {
    background-image: url(./images/work2.png);
    background-position: 100%;
    background-repeat: no-repeat;
  }

  #second-list {
    background-image: url(./images/nws.png);
    background-position: 100%;
    background-repeat: no-repeat;
  }

  .about-section {
    width: 100%;
    background-color: #262626;
    margin-top: 80%;
    margin-left: 0;
  }

  .about-header {
    width: 70%;
    padding-top: 130px;
    margin-left: 142px;
    color: #ff6b00;
    font-family: 'Crete Round', sans-serif;
    font-weight: 400;
    font-size: 4.5em;
    line-height: 81.5px;
  }

  .about-paragraph {
    width: 50%;
    height: 148px;
    margin-top: 24px;
    margin-left: 142px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #f4f5f7;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .get-resume {
    height: 48px;
    margin-top: 64px;
    margin-left: 142px;
    background-color: #ff6b00;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    text-align: center;
    padding: 10px 20px;
    font-size: 17px;
    outline: none;
    border: none;
    line-height: 24px;
  }

  .about {
    width: 100%;
    background-image: url(./images/about.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-position-x: 100%;
  }

  .horizontal-line {
    width: 80%;
    margin-top: 209px;
    border: 1px solid #fff;
    margin-left: 142px;
  }

  .about-list > ul {
    font-size: 1.5rem;
    padding-left: 6px;
    flex-wrap: wrap;
    height: 500px;
    margin-left: 15%;
  }

  .about-list {
    display: flex;
    list-style-type: none;
    color: #fff;
    padding: 0;
    margin: 0;
  }

  .language {
    width: 164px;
    height: 24px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
    align-items: center;
    list-style-image: url(./images/lan_icon.png);
    margin-top: 44px;
    margin-left: 10px;
  }

  .javascript {
    width: 114px;
    height: 24px;
    margin-left: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 42.67px;
    text-align: center;
    align-items: center;
    margin-top: 44px;
    color: #fff;
  }

  .ruby {
    width: 162px;
    height: 24px;
    margin-top: 56px;
    margin-left: -46px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 42.67px;
    text-align: center;
    align-items: center;
    color: #fff;
  }

  .li-html {
    width: 114px;
    height: 24px;
    margin-top: 43px;
    margin-left: -26px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 42.67px;
    text-align: center;
    align-items: center;
    color: #fff;
  }

  .li-css {
    width: 114px;
    height: 24px;
    margin-top: 51px;
    margin-left: -33px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 42.67px;
    text-align: center;
    align-items: center;
    color: #fff;
  }

  .frame {
    width: 199px;
    height: 24px;
    margin-top: 44px;
    margin-left: 10px;
    list-style-image: url(./images/frame.png);
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    color: #fff;
  }

  .bootstrap {
    width: 114px;
    height: 24px;
    margin-top: 44px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 42.67px;
    text-align: center;
    align-items: center;
    color: #fff;
  }

  .ruby-on-rails {
    width: 162px;
    height: 24px;
    margin-top: 44px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 42.67px;
    text-align: center;
    align-items: center;
    color: #fff;
    margin-left: -8px;
  }

  .rspec {
    width: 114px;
    height: 24px;
    margin-top: 44px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 42.67px;
    text-align: center;
    align-items: center;
    color: #fff;
    margin-left: -16px;
  }

  .capy {
    width: 114px;
    height: 24px;
    margin-top: 44px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 42.67px;
    text-align: center;
    align-items: center;
    color: #fff;
    margin-left: 0;
  }

  .selen {
    width: 114px;
    height: 24px;
    margin-top: 44px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 42.67px;
    text-align: center;
    align-items: center;
    color: #fff;
    margin-left: -3px;
  }

  .skills {
    width: 70px;
    height: 24px;
    margin-top: 44px;
    margin-left: 4px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
    list-style-image: url(./images/skills.png);
  }

  .codekit {
    width: 114px;
    height: 24px;
    margin-top: 44px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 42.67px;
    text-align: center;
    align-items: center;
    color: #fff;
  }

  .github {
    width: 114px;
    height: 24px;
    margin-top: 44px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 42.67px;
    text-align: center;
    align-items: center;
    color: #fff;
    margin-left: -19px;
  }

  .codepen {
    width: 114px;
    height: 24px;
    margin-top: 44px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 42.67px;
    text-align: center;
    align-items: center;
    color: #fff;
  }

  .gitlab {
    width: 114px;
    height: 24px;
    margin-top: 44px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 42.67px;
    text-align: center;
    align-items: center;
    color: #fff;
  }

  .terminal {
    width: 114px;
    height: 24px;
    margin-top: 44px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 42.67px;
    text-align: center;
    align-items: center;
    color: #fff;
  }

  button:hover {
    background-color: #fff5e1;
    border: 1px solid #f55800;
    color: #ff6b00;
  }

  button:disabled {
    background-color: #f4f1f0;
    color: #5b5957;
    border: o;
  }

  button:active {
    background-color: #e05304;
    color: #f4f1f0;
  }

  fieldset {
    height: 0;
    border: 0;
  }

  .form-start {
    height: 500px;
    width: 95%;
  }

  .form-header {
    width: 45%;
    height: 256px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 52px;
    text-align: center;
    flex: none;
    order: 0;
    flex-grow: 0;
    color: #262626;
    margin-left: 24px;
    /* margin-top: 120px; */
    float: left;
    padding: 0;
  }

  form {
    /* float: right; */
    width: 53vw;
    height: 37vh;
    margin-top: 45px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
  }

  #first-name,
  #last-name {
    display: none;
  }

  #full-name {
    width: 40rem;
    height: 32px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-left: 24px;
    line-height: 24px;
    color: #979493;
    align-items: center;
    padding-left: 10px;
    border-bottom: 1px solid #d8d8d7;
    border-left: 0;
    border-top: 0;
    border-right: 0;
  }

  /* #last-name {
    width: 40%;
    height: 32px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #979493;
    margin-left: 5%;
    padding-left: 10px;
    border-bottom: 1px solid #d8d8d7;
    border-left: 0;
    border-top: 0;
    border-right: 0;
  } */

  .land,
  .fame,
  .skil {
    list-style-type: none;
  }

  #email {
    width: 40.5rem;
    height: 32px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #979493;
    margin-top: 42px;
    margin-left: 24px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    border-bottom: 1px solid #d8d8d7;
    border-left: 0;
    border-top: 0;
    border-right: 0;
  }

  textarea {
    width: 40.5rem;
    height: 114px;
    /* position: absolute; */
    background-color: #fbfbf7;
    border: 0;
    padding: 12px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #3c3a39;
    margin-left: 24px;
    left: 22px;
    margin-top: 36px;
  }

  .submit {
    width: 168px;
    height: 48px;
    margin-top: 5%;
    margin-left: 3%;
    background-color: #ff6b00;
    display: flex;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    text-align: center;
    padding: 6px;
    font-size: 24px;
    outline: none;
    border: none;
  }

  .seperator {
    background-color: white;
    width: 90%;
    border: 1px solid;
    align-items: center;
    color: #dfe1e6;
    margin-top: 500px;
    position: absolute;
  }

  #twitte {
    width: 19.99px;
    height: 20px;
    top: 0;
    left: 106.3px;
    color: #505f79;
  }

  #link {
    width: 12.71px;
    height: 16.97px;
    margin-left: 10px;
    top: 0;
    left: 157px;
    color: #505f79;
  }

  #git {
    width: 17.99px;
    height: 20px;
    margin-top: 0;
    left: 180px;
    color: #505f79;
  }

  .base > li {
    list-style-type: none;
    float: left;
    margin-left: 28px;
    color: #505f79;
    margin-top: 15%
  }

  .here {
    filter: brightness(26%);
  }

  .bar {
    display: none;
  }
}

/* Desktop version ends here */

@media only screen and (max-width: 768px) {
  * {
    margin: 0;
    padding: 0;
  }

  html {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  body {
    overflow-x: hidden;
    width: 100%;
  }

  .header {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    background-color: #3c3a39;
    justify-content: space-between;
    margin-right: 24px;
  }

  .logo {
    width: 77px;
    height: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    margin-left: 10px;
    font-style: bold;
    align-items: center;
    color: #fff;
    text-decoration: none;
  }

  .navbar  svg {
    margin-right: 10vw;
    width: 40% !important;
    display: flex;
    float: right;
    cursor: pointer;
  }

  .navigation {
    display: none;
  }
  
  #close-button{
    color: #fff;
    float: right;
    font-size: 20px;
    cursor: pointer;
  }

  #menu_top{
    list-style: none;
    padding: 0;
    position: fixed;
    margin-top: 0;
    right: 0;
    width: 100%;
    z-index: 2;
    background-color: #3c3a35;
    flex-direction:column;
    padding-top: 10vh;
    height: 100vh;
    width: 327px;
    position: absolute;   
  }

  .top {
    width: 100%;
    height: 100vh;
  }

  .top-section {
    background-color: #1c1a19;
    width: 100%;
    background-image: url(./images/bgimage.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-position-x: 100%;
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    width: 100%;
  }

  .title {
    width: 100%;
    height: 124px;
    margin-top: 7.5rem;
    margin-left: 1.5rem;
    display: flex;
    font-family: 'Crete Round', sans-serif;
    font-weight: 400;
    font-size: 3.5rem;
    line-height: 64px;
    letter-spacing: 0.023rem;
    color: #f8f1ec;
  }

  h3 {
    color: #fff5e1;
    width: 327px;
    height: 27px;
    left: 24px;
    margin-top: 20px;
    margin-left: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    display: flex;
  }

  .title-paragraph {
    color: #fff;
    width: 80vw;
    height: 123px;
    top: 400px;
    margin-top: 35px;
    margin-bottom: 0;
    margin-left: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .social {
    display: flex;
    margin-top: 21px;
    text-decoration: none;
    margin-left: 24px;
    list-style-type: none;
  }

  .social li {
    margin-left: 10px;
    width:fit-content
  }

  .social li a {
    text-decoration: none;
    color: #dbd8d7;
    align-items: center;    
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1em;
    line-height: 20px;
  }

  .recent-works {
    width: 375px;
    height: 3636px;
    top: 682px;
    padding: 120px, 0, 120px, 0;
    gap: 80px;
    display: grid;
    margin-top: -368px;
    vertical-align: center;
    align-items: center;
    align-content: center;
    justify-content: conter;
  }

  .services-tag {
    width: 327px;
    height: 83px;
    font-family: 'Crete Round', sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 537px;
    color: #1c1a19;
    vertical-align: center;
    margin-left: 24px;
    margin-top: 312px;
  }

  .horizontal {
    width: 327px;
    top: 107px;
    border: 1px solid;
    align-items: center;
    color: #212121;
    margin-left: 24px;
    margin-top: 260px;
  }

  .tags{
    width: 100%;
  }

  .tag-image {
    margin-left: 24px;
    margin-top: 80px;
    float: left;
  }

  .service-header {
    width: inherit;
    height: 36px;
    font-family: 'Crete Round', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    color: #091e42;
    vertical-align: center;
    margin-left: 24px;
  }

  .services-paragraph {
    width: inherit;
    margin-top: 48px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #091e42;
    margin-left: 24px;
  }

  .service-button {
    list-style-type: none;
    margin-top: 12px;
    margin-left: 24px;
    text-decoration: none;
    display: flex;
  }

  .service-button li {
    margin-left: 10px;
    width:fit-content
  }

  .service-button li  a {
    background-color: #fff;
    border: 1px solid #8993a4;
    text-decoration: none;
    padding: 10px;
    color: #091e42;
    align-items: center;    
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1em;
    line-height: 20px;
  }

  .See-project-btn {
    width: 124px;
    height: 48px;
    margin-top: 18px;
    background-color: #ff6b00;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    text-align: center;
    padding: 0 1px;
    margin-left: 24px;
    font-size: 17px;
    line-height: 3px;
    outline: none;
    border: none;
  }

  .pin {
    width: 100%;
  }

  .printing,
  #work1-section,
  #work2,
  #number5 {
    background-image: url(./images/probg.png);
    background-position: 100%;
    background-repeat: no-repeat;
    width: 327px;
    margin-top: 42px;
    height: 386px;
    top: 8px;
    margin-left: 24px;
    background-color: linear-gradient rgba(38, 38, 38, 0) 0.34% #262626 61.21%;
  }

  .print-header,
  #work1 {
    width: 295px;
    height: 81px;
    top: 8px;
    margin-top: 93px;
    margin-left: 28px;
    font-family: 'Crete Round', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
  }

  .print-paragraph,
  #work1-paragraph {
    width: 295px;
    height: 87px;
    top: 101px;
    margin-top: 11px;
    margin-left: 27px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    vertical-align: top;
  }

  .print-button {
    list-style-type: none;
    margin-top: 12px;
    margin-left: 24px;
    text-decoration: none;
    display: flex;
  }

  .print-button > li {
    margin-left: 5px;
    width:fit-content;
    margin-top: 12px;
  }

  .print-button > li > a {
    padding: 5px;
    text-decoration: none;
    background-color: rgb(255, 255, 255, 0.24);
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    align-items: center;
    font-size: 1em;
    color: #fff;
    line-height: 20px;
  }

  .btn {
    width: 327px;
    height: 48px;
    border: 0;
    background-color: #ff6b00;
    margin-top: 16.8px;
    display: flex;
    flex-direction: column;
  }

  .about-section {
    width: 100%;
    background-color: #1c1a19;
    margin-top: 207px;
  }

  .about-header {
    width: 100%;
    height: 79px;
    margin-top: 120px;
    margin-left: 24px;
    color: #ff6b00;
    font-family: 'Crete Round', sans-serif;
    font-weight: 400;
    font-size: 72px;
    line-height: 88px;
    letter-spacing: 0.37px;
  }

  .about-paragraph {
    width: 80vw;
    height: 148px;
    margin-top: 24px;
    margin-left: 24px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #f4f5f7;
  }

  .get-resume {
    width: 227px;
    height: 48px;
    margin-top: 24px;
    margin-left: 24px;
    background-color: #ff6b00;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    text-align: center;
    padding: 10px 20px;
    font-size: 24px;
    outline: none;
    border: none;
  }

  .about {
    width: 100%;
    height: 633px;
    background-image: url(./images/abg.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-position-x: 100%;
  }

  .horizontal-line {
    width: 90%;
    margin-top: 209px;
    border: 1px solid #fff;
    margin-left: 24px;
  }

  .about-list {
    width: 100%;
    height: 1249px;
    margin-left: 0;
    margin-top: 0;
    align-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style-type: none;
  }

  .about-list > ul {
    height: 1249px;
    margin-left: 0;
    margin-top: 0;
    align-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style-type: none;
  }

  .language {
    width: 164px;
    height: 24px;
    margin-top: 136px;
    margin-left: 49.46px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
    align-items: center;
    list-style-image: url(./images/lan_icon.png);
  }

  .javascript {
    width: 114px;
    height: 24px;
    margin-top: 44px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 42.67px;
    text-align: center;
    align-items: center;
    color: #fff;
  }

  .ruby {
    width: 162px;
    height: 24px;
    margin-top: 44px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 42.67px;
    text-align: center;
    align-items: center;
    color: #fff;
  }

  .li-html {
    width: 114px;
    height: 24px;
    margin-top: 44px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 42.67px;
    text-align: center;
    align-items: center;
    color: #fff;
  }

  .li-css {
    width: 114px;
    height: 24px;
    margin-top: 44px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 42.67px;
    text-align: center;
    align-items: center;
    color: #fff;
  }

  .frame {
    width: 199px;
    height: 24px;
    margin-top: 44px;
    margin-left: 10px;
    list-style-image: url(./images/frame.png);
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    color: #fff;
  }

  .bootstrap {
    width: 114px;
    height: 24px;
    margin-top: 44px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 42.67px;
    text-align: center;
    align-items: center;
    color: #fff;
  }

  .ruby-on-rails {
    width: 162px;
    height: 24px;
    margin-top: 44px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 42.67px;
    text-align: center;
    align-items: center;
    color: #fff;
  }

  .rspec {
    width: 114px;
    height: 24px;
    margin-top: 44px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 42.67px;
    text-align: center;
    align-items: center;
    color: #fff;
  }

  .capy {
    width: 114px;
    height: 24px;
    margin-top: 44px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 42.67px;
    text-align: center;
    align-items: center;
    color: #fff;
  }

  .selen {
    width: 114px;
    height: 24px;
    margin-top: 44px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 42.67px;
    text-align: center;
    align-items: center;
    color: #fff;
  }

  .skills {
    width: 70px;
    height: 24px;
    margin-top: 44px;
    margin-left: 4px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
    list-style-image: url(./images/skills.png);
  }

  .codekit {
    width: 114px;
    height: 24px;
    margin-top: 44px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 42.67px;
    text-align: center;
    align-items: center;
    color: #fff;
  }

  .github {
    width: 114px;
    height: 24px;
    margin-top: 44px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 42.67px;
    text-align: center;
    align-items: center;
    color: #fff;
  }

  .codepen {
    width: 114px;
    height: 24px;
    margin-top: 44px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 42.67px;
    text-align: center;
    align-items: center;
    color: #fff;
  }

  .gitlab {
    width: 114px;
    height: 24px;
    margin-top: 44px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 42.67px;
    text-align: center;
    align-items: center;
    color: #fff;
  }

  .terminal {
    width: 114px;
    height: 24px;
    margin-top: 44px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 42.67px;
    text-align: center;
    align-items: center;
    color: #fff;
  }

  button:hover {
    background-color: #fff5e1;
    border: 1px solid #f55800;
    color: #ff6b00;
  }

  button:disabled {
    background-color: #f4f1f0;
    color: #5b5957;
    border: o;
  }

  button:active {
    background-color: #e05304;
    color: #f4f1f0;
  }

  .timely,
  #work1-btn {
    width: 100%;
    height: 48px;
    margin-top: 6vh;
    background-color: #ff6b00;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    text-align: center;
    padding: 10px 20px;
    font-size: 1.5em;
    outline: none;
    border: none;
  }

  .form-start {
    width: 100%;
  }

  .form-header {
    width: 80vw;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-left: 24px;
    margin-top: 120px;
  }

  #full-name {
    width: 80vw;
    height: 32px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #979493;
    margin-top: 100px;
    margin-left: 24px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    border-bottom: 1px solid #d8d8d7;
    border-left: 0;
    border-top: 0;
    border-right: 0;
  }

  #email {
    width: 80vw;
    height: 32px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #979493;
    margin-top: 68px;
    margin-left: 24px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    border-bottom: 1px solid #d8d8d7;
    border-left: 0;
    border-top: 0;
    border-right: 0;
  }

  textarea {
    width: 80vw;
    height: 114px;
    background-color: #fbfbf7;
    border: 0;
    padding: 12px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #3c3a39;
    margin-left: 24px;
    margin-top: 59px;
  }

  .submit {
    width: fit-content;
    margin-top: 66px;
    margin-left: 112px;
    background-color: #ff6b00;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    text-align: center;
    padding: 20px;
    font-size: 1.5em;
    margin-left: 30%;
    outline: none;
    border: none;
  }

  .seperator {
    width: 100%;
    border: 1px solid;
    align-items: center;
    color: #dfe1e6;
    margin-top: 649px;
  }

  .footer {
    display: flex;
    justify-content: center;
  }

  .base {
    align-items: center;
    display: flex;
    width: auto;
    list-style-type: none;
    margin-top: 32px;
    filter: brightness(44%);
  }

  .base li {
    margin-left: 10px;
    width:fit-content;
    padding-left: 10px;
  }

  .base li a {
    text-decoration: none;
    align-items: center;    
    font-size: 1em;
    line-height: 20px;
    justify-content: center;
  }

  #First-name,
  #last-name {
    display: none;
  }

  .bar {
    border: 2px solid #0d151e;
    align-items: center;
    color: #dfe1e6;
    margin-top: 100px;
    position: absolute;
    border-radius: 10px;
    margin-left: 14px;
  }

  fieldset {
    height: 0;
    border: 0;
  }
}
